* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFA;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1030;
}
#tituloDiv{
    width: 100%;
    height: 150px;
    background: #2aacdd;
    display: flex;
}
#imgLogoDiv{
    width: 10%;

    margin: auto auto;
    padding-top: 20px;
    display: flex;
}
#imgLogoDiv img{
    
    height: 200px;
    margin: 0 auto;
}


header nav {
    display: block;
    width: 100%;
    float: right;
    height: 100px;
    background: #2aacdd;
}

#menuHamburguesa {
    float: right;
    width: 5%;
    min-width: 50px;
    height: auto;
    padding-top: 7px;
    font-size: 40px;
}

.menu_bar {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    height: 100px;
    float: left;
    margin-left: 10%;
    width: 35%;
}

#perfil {
    float: right;
    margin-left: 10%;
    width: 25%;
    float: right;
}

header nav ul li {
    float: left;
    height: 100px;
    font-size: 20px;
}

header nav ul li a {
    color: #fff !important;
    padding: 20px;
    display: block;
    text-decoration: none !important;
    padding-top: 40px;
    height: 100px;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #097faa;
}

section {
    padding: 20px;
}

.icono {
    display: none;
}

#contenido {
    padding-top: 250px;
    width: 100%;
    min-height: 1150px;
    background: linear-gradient(74deg, #f5f3ee, #ebe3d1);
    background-size: auto;
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
}

#carouselExampleCaptions {
    width: 100%;
}


.clearfix {
    clear: both;
    margin: 0px auto;
}

.imgCarousel {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

@media(max-width: 1725px) {

    header nav ul {

        margin-left: 5%;
        width: 65%;
    }
    
    #perfil {
        margin-left: 5%;
        width: 25%;
    }
    #perfil ul{

        float: right;
    }
    #imgLogoDiv img{
        
        height: 100px;

    }
}



/**/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes slidein {
    from {
        margin-right: 80%;
        margin-left: 0%;
    }
    to {
        margin-right: 0%;
        margin-left: 80%;
    }
}


/**/

footer {
    width: 100%;
    height: 60px;
    background-color: #353535;
    color: #B0B0B0;
    padding-top: 20px;
}

#copyright {
    width: 30%;
    float: left;
    text-align: right;
}

#desarrolladores {
    width: 40%;
    float: left;
    text-align: center;
}

#redes {
    width: 30%;
    float: left;
}

.link {
    padding-right: .5rem;
    padding-left: .5rem;
}


@media screen and (max-width:980px) {
    #tituloDiv {
        display: none;
    }
    #contSubLogo {
        width: auto;
        float: left;
        overflow: hidden;
    }
    header nav {
        width: 50%;
        min-width: 350px;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
        /* top: 0px; */
        overflow: auto;
    }
    .icono {
        display: inline-block;
    }
    header nav ul {
        list-style: none;
        overflow: hidden;
        height: auto;
        width: 100%;
        margin-left: 0%;
    }
    #perfil {
        width: 100%;
        float: right;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        text-align: left;
    }
    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }
    .menu_bar img {
        display: block;
        float: left;
        height: 100px;
        animation: latir infinite 5s linear;
    }
    .menu_bar .bt-menu {
        display: block;
        padding-top: 23px;
        padding-left: 20px;
        padding-right: 20px;
        height: 150px;
        background: #2aacdd;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    #contenido {
        padding-top: 100px;
    }
    footer {
        height: 80px;
        padding-top: 0px;
    }
    #copyDes {
        width: 100%;
        padding-top: 10px;
        height: 40px;
    }
    #copyright {
        width: 40%;
    }
    #desarrolladores {
        width: 60%;
    }
    #redes {
        width: 100%;
        float: left;
        text-align: center;
    }
    .link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .contenedorCardMascota {
        width: 45%;
        height: auto;
        margin-left: 2%;
        overflow: hidden;
    }
    .contenedorCardMascota img {
        width: 100%;
    }
    .descripcionCardMascota {
        height: auto;
        overflow: hidden;
    }
    .imgCarousel {
        height: 400px;
    }
}

@media screen and (max-width:650px) {
    
    .imgCarousel {
        height: 300px;
    }
}

@media screen and (max-width:360px) {

    .imgCarousel {
        height: 200px;
    }
}