* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFA;
}

header {
    width: 100%;
}

#logo {
    padding-left: 10%;
    width: 20%;
    font-size: 30px;
    float: left;
    height: 100px;
    background: #2aacdd;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: 20px;
    animation: latir infinite 5s linear;
}

#brand {
    display: block;
    float: left;
    height: 60px;
    margin-top: 30px;
    margin-left: 5px;
    color: #fff;
}

header {
    position: fixed;
}

header nav {
    display: block;
    width: 70%;
    float: right;
    height: 100px;
    background: #2aacdd;
}

#menuHamburguesa {
    float: right;
    width: 5%;
    min-width: 50px;
    height: auto;
    padding-top: 7px;
    font-size: 40px;
}

.menu_bar {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    height: 100px;
    width: 60%;
    margin-left: 10%;
    float: left;
}

#perfil {
    width: 30%;
    float: right;
    margin-left: 0%;
}

header nav ul li {
    float: left;
    height: 100px;
    font-size: 20px;
}

header nav ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    padding-top: 40px;
    height: 40px;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    background: #097faa;
}

section {
    padding: 20px;
}

.icono {
    display: none;
}

#contenido {
    padding-top: 100px;
    width: 100%;
    min-height: 950px;
    background-color: #fff;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #353535;
    color: #B0B0B0;
    padding-top: 20px;
}

#copyright {
    width: 30%;
    float: left;
    text-align: right;
}

#desarrolladores {
    width: 40%;
    float: left;
    text-align: center;
}

#redes {
    width: 30%;
    float: left;
}

.link {
    padding-right: .5rem;
    padding-left: .5rem;
}

@media screen and (max-width:1367px) {
    #logo {
        width: 60%;
        padding-left: 40%;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        margin-left: 5%;
        width: 65%;
    }
    #perfil {
        width: 25%;
        float: right;
    }
    #contenido {
        padding-top: 200px;
    }
}

@media screen and (max-width:980px) {
    #logo {
        display: none;
    }
    #contSubLogo {
        width: auto;
        float: left;
        overflow: hidden;
    }
    header nav {
        width: 50%;
        min-width: 350px;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
        /* top: 0px; */
        overflow: auto;
    }
    .icono {
        display: inline-block;
    }
    header nav ul {
        list-style: none;
        overflow: hidden;
        height: auto;
        width: 100%;
        margin-left: 0%;
    }
    #perfil {
        width: 100%;
        float: right;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        text-align: left;
    }
    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }
    .menu_bar img {
        display: block;
        float: left;
        height: 60px;
        animation: latir infinite 5s linear;
    }
    .menu_bar .bt-menu {
        display: block;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        height: 100px;
        background: #2aacdd;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #imgTexto {
        display: block;
        float: left;
        font-size: 30px;
        margin-top: 10px;
        margin-left: 4px;
        color: #fff;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    #contenido {
        padding-top: 100px;
    }
    footer {
        height: 80px;
        padding-top: 0px;
    }
    #copyDes {
        width: 100%;
        padding-top: 10px;
        height: 40px;
    }
    #copyright {
        width: 40%;
    }
    #desarrolladores {
        width: 60%;
    }
    #redes {
        width: 100%;
        float: left;
        text-align: center;
    }
    .link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}